.military-service {
  display: grid;
  grid-template-columns: fit-content(200px) 1fr;
}

.military-service-years {
  justify-self: end;
}

.commendations-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.commendations {
  display: flex;
  flex-direction: column;
}
